*{
    margin: 0;
    padding: 0;
}

/* Shared Styles */

.font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dark-1{
    color:#131313;
}

.dark-2{
    color:#424242;
}

.dark-3{
    color:#727272;
}

.heading{
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 32px;
}

.description{
    text-align: center;
    margin-bottom: 32px;
    padding-right:20px;
}

.btn-primary{
    width: 180px;
    height: 64px;
    background-color: #ff900e;
    display: block;
    justify-self: center;
    border:none;
    border-radius: 8px;
    color:#fff;
    font-weight: 600;
    font-size:1.25rem;
    margin-bottom: 50px;
}

.img-primary{
    width: 75%;
    height: auto;
    max-height: 700px;
    max-width: 1400px;
    display: block;
    justify-self: center;
}


/* Navbar and banner */

header{
    background-color: #fff4e7;
    height:1322px;
    margin-bottom: 130px;  
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    font-size: 2.8125rem;
    font-weight: bold;
    margin-top:50px;
    margin-left: 228px;
}

nav ul li{
    list-style: none;
}

nav ul{
    display: flex;
    margin-right: 240px;
    margin-top: 63px;
    gap:50px;
    font-size: 1.125rem;
    font-weight: 500;
}

.banner{
    margin-top:102px;
}

/* Features Section */

.features{
    display: flex;
    justify-content: center;
    gap:73px;
    margin-bottom: 130px;
}

.left-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;  
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-heading{
    font-size: 2.8125rem;
    font-weight: bold;
    margin-bottom: 24px;
}

#quick{
    font-weight: 500;
}

#fea{
    color:#ff900e;
}

.features-description{
    text-align: justify;
}


/* Architect Section */

.architect-section{
    display: flex;
    justify-content: center;
    gap:54px;
    margin-bottom: 130px;
}

.left{
    max-width: 586px;
    max-height: 982px;
    box-sizing: border-box;
    margin-top: 39px;
}

.left-first{
    display: flex;
    gap:21px;
    margin-bottom: 24px;
}

.ver-line{
    width:5px;
    height: 106px;
    border:none;
    background-color: #ff900e;
}

.arch-heading{
    font-size: 2.8125rem;
    font-weight: bold;
}

.arch-description{
    margin-bottom: 30px;
}

.card{
    max-width:586px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    width: 586px;
    height: 171px;
    max-width: 586px;
    max-height: 171px;
}

.card-heading{
    font-size: 1.25rem;
    font-weight: 600;
    margin:0px 0px 10px 33px;
    padding-top: 30px;
}

.card-description{
    margin-left: 30px;
}

.right{
    width:800px;
    max-width: 800px;
}

.archi{
    display: block;
    justify-self: right;
}

.experience{
    width: 342px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#fff;
    font-size: 1.5625rem;
    font-weight: 500;
    background-color: #ff900e;
    border: none;
    border-radius: 8px;
    margin-top: -150px;
    position: relative;
    z-index: 1;
}


.experience span{
    font-size: 2.8125rem;
    font-weight: bold;
}

/* Facts Section */

.facts-section{
    margin-bottom: 180.08px;
}

.top{
    margin-left: 240px;
}

.facts-heading{
    font-size: 2.8125rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.facts-description{
    margin-bottom: 100.08px;
}

.bottom{
    display: flex;
    justify-content: center;
    gap:124.17px;
}

.card-2{
    width: 241.83px;
    height: 241.83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    border: 1px solid #ff900e;
    box-sizing: border-box;
    border-radius: 8px;
}

.card-2-heading{
    font-size: 2.8125rem;
    font-weight: 600;
}

.card-2-description{
    font-size: 1.25rem;
    font-weight: 600;
}

/* Sponsors Section */

.sponsors-section{
    margin-bottom: 130px;
}

.sponsors-logo{
    display: flex;
    justify-content: center;
    gap:155.24px;

}

.sponsors-logo img{
    filter: grayscale(100%);
    max-width: 166.67px;
    max-height: 50px;
}

/* Footer Section */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 216px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff4e7;
    width: 75%;
    height: 100px;
    border: none;
    border-radius: 8px;
}

/* Responsive Media Queries */

@media screen and (max-width:1440px){
    html{
        font-size: 15px;
    }

    .description{
        padding: 0px 10px;
    }

    nav{
        flex-direction: column;
        align-items: center;
    }
    .name{
        margin-left: 0;
    }
    nav ul{
        flex-direction: column;
        margin-right: 0;
        align-items: center;
    }

    .features{
        flex-direction: column;
        align-items: center;
    }
    .right-container{
        align-items: center;
    }

    /* Architect Section */
    .architect-section{
        flex-direction: column;
        align-items: center;
        gap:50px;
    }

    .archi{
        width:708px;
        height: 982px;
    }


    /* Sponsors Section */
    
    .sponsors-logo{
        flex-direction: column;
        align-items: center;
        gap:50px;
    }
}

@media screen and (max-width:992px) {
    html{
        font-size: 14px;
    }

    .description{
        padding: 0px 10px;
    }

    nav{
        flex-direction: column;
        align-items: center;
    }
    .name{
        margin-left: 0;
    }
    nav ul{
        flex-direction: column;
        margin-right: 0;
        align-items: center;
    }

    .features{
        flex-direction: column;
        align-items: center;
    }

    .left-container{
        grid-template-columns: repeat(1,1fr);
    }
    .right-container{
        align-items: center;
    }
    
    /* Architect Section */
    .right{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0px 10px;
        box-sizing: border-box;
    }

    .archi{
        width: 75%;
        height: auto;
    }

    .experience{
        position: static;
        margin-top:10px
    }

}